.blog-content {
  h1 { font-size: 45px; padding-top: 1.5rem; }
  h2 { font-size: 30px; padding-top: 1rem; }
  h3 { font-size: 25px; padding-top: 1rem; }
  h4 { font-size: 20px; padding-top: 1rem; }

  blockquote {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    color: #ccc5b995;
  }

  p {
    padding-top: 1rem;
  }

  img {
    padding: 2rem 0rem;
  }

  code {
    background-color: #25242296;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    color: #eb5e28;
    padding: 2px;
  }

  pre {
    border-radius: 5px;
    overflow-y: auto;
    margin: 1rem 0;
    background-color: #25242296;
    padding: 1rem;
  }

  pre code {
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }

  a {
    text-decoration: underline;
    font-style: italic
  }

  a:hover {
    color: #eb5e28;
  }

  ul { list-style-type: square; }
  ul ul { list-style-type: circle; padding-left: 2rem; }
  ul ul ul { list-style-type: disc; padding-left: 2rem; }

  ol { list-style-type: decimal; }
  ol ol { list-style-type: lower-alpha; padding-left: 2rem; }
  ol ol ol { list-style-type: lower-roman; padding-left: 2rem; }

  li { padding-top: 0.5rem; }
  li p:first-of-type { padding: 0; }

  ul:has(input[type="checkbox"]) {
    list-style-type: none !important;
  }

  hr {
    background-color: #ccc5b995;
    height: 1px;
    border: none;
    margin: 1rem auto;
  }
}
